vm-demo/src/main/mule/vm-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fbf8eead-8433-4860-a0c8-5a4ce2acf731" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="b0bc9c8a-e9f2-4f85-9a3c-2476fa5e202d">
		<vm:queues >
			<vm:queue queueName="myQueue" />
		</vm:queues>
	</vm:config>
	<flow name="vm-publisher-flow" doc:id="7e784e4c-3edc-446e-a31d-45fee6dce1f6" >
		<http:listener doc:name="Listener" doc:id="78e93af1-1043-4c45-a7c1-7d32843e9194" config-ref="HTTP_Listener_config" path="/api"/>
		<vm:publish queueName="myQueue" doc:name="Publish" doc:id="aa0dc4f7-a979-4b8b-9553-b2b0ee477951" config-ref="VM_Config"/>
		<set-payload value='#["vm publisher flow"]' doc:name="Set Payload" doc:id="9dcd6788-01b9-4320-b8d3-e4504ebc4bd4" />
	</flow>
	<flow name="vm-listener-flow" doc:id="334869df-4e7d-46dc-8ff1-1091df291b44" >
		<vm:listener queueName="myQueue" doc:name="Listener" doc:id="4f551d90-3faa-4e18-a344-eaccd69289db" config-ref="VM_Config"/>
		<set-payload value='#["vm listener flow"]' doc:name="Set Payload" doc:id="7621621e-38fc-4bfc-80d4-d6e90e46d9bb" />
		<logger level="INFO" doc:name="Logger" doc:id="a252553f-de3f-488d-b7bb-6b0957243a74" />
	</flow>
</mule>
