runtime-properties-demo/src/main/mule/runtime-properties-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ff44cc8e-0ad4-41e6-afff-6024951e490d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="runtime-properties-demoFlow" doc:id="0c929d6e-9373-4dce-a471-a67142798cd5" >
		<logger level="INFO" doc:name="Logger" doc:id="3f0b62e8-ff8f-4fec-86f5-d6a46120f441" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="eece979d-6845-44f3-b198-a34c96e5129b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	properties:{
		env: p('env'),
		machine: p('machine')
	}
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="065e1290-79a1-4b18-ab10-fc76e13ca3a6" message="#[payload]"/>
	</flow>
</mule>
